/* Header styling */
.top {
    height: 25%;
    width: 80%;
    margin: auto;
}
.logo-img{
    width: 25%;
}
.brief{
    float: right;
    margin-top: 5%;
}

.seprator {
    height: 3px;
    width: 90%;
    background-color: #7d97ad;
}

/* Center Image */ 
.Center-image {
    display: block;
    height: 100%;
    width: 80%;
    margin: auto;
}
.Center-fig{
    height: 90%;
    width: 100%;
    border-radius: 20px;
}

/* Small images */
.group-imgs{
    height: 25%;
    width: 85%;
    margin: auto;
}
.small-image {
    border-radius: 10px;
}
.small-img-box1 {
    float: left;
    margin-right: 5%;
}
.small-img-box2 {
    float: left;
    margin-right: 5%;
}
.small-img-box3 {
    width: 50%;
    float: left;
}
.small-image {
    height: 100px;
}
.small-img-boxes {
    position: relative;
    left: 25%;
    display: flex;
    flex-wrap: wrap;
}
.sample-img {
    text-align: center;
    font-size: 1.5em;
    color: red;
}